# Bỏ qua toàn bộ thư mục History bên trong DESIGN_PCB
DESIGN_PCB/History/
DESIGN_PCB\Project Logs for DOAN1_V2
DESIGN_PCB/Project Outputs for DOAN1_V2/
DESIGN_PCB/__Previews/
# Bỏ qua file cấu trúc tự sinh
*.PrjPcbStructure
# Bỏ qua file backup Altium
*-bak.*
